In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data_ = pd.read_excel(r"C:\Users\Dani\Dropbox\Mein PC (dimotion-PC)\Documents\BA_data\CCM_D_I_raw_2.xlsx", converters = {"ID": str})

In [3]:
raw_data = raw_data_

In [4]:
raw_data.columns

Index(['ID', 'GV_Key', 'Data Date', 'Fiscal Year', 'Fiscal Quarter',
       'Industry Format',
       'Level of Consolidation - Company Interim Descriptor',
       'Population Source', 'Data Format', 'Ticker Symbol', 'Company Name',
       'ISO Currency Code', 'Calendar Data Year and Quarter',
       'Fiscal Data Year and Quarter', 'Final Date',
       'Report Date of Quarterly Earnings', 'Assets - Total',
       'Common/Ordinary Equity - Total', 'Cash',
       'Common Shares Used to Calculate Earnings Per Share - Basic',
       'Long-Term Debt - Total', 'Invested Capital - Total - Quarterly',
       'Liabilities - Total', 'Net Income (Loss)',
       'Operating Income After Depreciation - Quarterly',
       'Operating Income Before Depreciation - Quarterly', 'Revenue - Total',
       'Stockholders Equity - Total', 'Active/Inactive Status Marker',
       'Market Value - Total', 'S&P Business Description',
       'Current ISO Country Code - Headquarters',
       'North American Industry Classification Code',
       'Standard Industry Classification Code'],
      dtype='object')

In [5]:
#choosing needed variables
columns = ['GV_Key', 'Data Date', 
           'Ticker Symbol', 'Company Name',
        'Calendar Data Year and Quarter',
       'Fiscal Data Year and Quarter', 'Final Date', 
       'Report Date of Quarterly Earnings','Assets - Total',
       'Cash',
       'Common Shares Used to Calculate Earnings Per Share - Basic',
       'Long-Term Debt - Total', 'Invested Capital - Total - Quarterly',
       'Liabilities - Total', 'Net Income (Loss)',
       'Operating Income After Depreciation - Quarterly',
       'Operating Income Before Depreciation - Quarterly', 'Revenue - Total',
       'Stockholders Equity - Total', 'Market Value - Total', 
           'Current ISO Country Code - Headquarters']
raw_data = raw_data[columns]

In [6]:
raw_data = raw_data.rename({'Data Date': 'Date_cal',
                            'Operating Income After Depreciation - Quarterly': 'EBIT', 
                            'Operating Income Before Depreciation - Quarterly': 'EBITDA',
                            'Assets - Total': 'Assets',
                            'Long-Term Debt - Total': 'Long-Term Debt', 
                            'Invested Capital - Total - Quarterly' : 'Invested Capital',
                            'Liabilities - Total': 'Liabilities', 
                            'Net Income (Loss)': 'Net Income',
                            'Revenue - Total': 'Revenue',
                            'Stockholders Equity - Total': 'Stockholders Equity', 
                            'Market Value - Total': 'Market Value',
                            'Calendar Data Year and Quarter': 'Quarter',
                            'Report Date of Quarterly Earnings': 'Date_rep',
                            'Current ISO Country Code - Headquarters': 'HQ'}, axis = 1)

In [7]:
raw_data.describe()

,Assets,Cash,Common Shares Used to Calculate Earnings Per Share - Basic,Long-Term Debt,Invested Capital,Liabilities,Net Income,EBIT,EBITDA,Revenue,Stockholders Equity,Market Value
count,9.992500e+04,91448.000000,101888.000000,99105.000000,99708.000000,9.987800e+04,100200.000000,99053.000000,92368.000000,91745.000000,99883.000000,9.186400e+04
mean,1.909339e+04,819.773255,221.096711,3356.881794,6981.335052,1.526897e+04,112.190599,200.588598,294.895398,1456.175065,3780.616968,9.496143e+03
std,1.283632e+05,4930.175335,805.806917,15298.070419,28936.487925,1.171026e+05,856.207781,1133.806382,1403.515156,6144.506621,16296.079786,5.403046e+04
min,0.000000e+00,0.000000,0.024000,-0.402000,-4493.000000,-8.700000e-02,-49746.000000,-62325.000000,-59740.000000,-30287.601000,-18075.000000,4.100000e-03
25%,2.147060e+02,19.406000,22.248750,7.219000,133.464750,7.060425e+01,-5.923000,-3.092000,-1.455000,14.114000,78.370500,1.805305e+02
50%,1.252635e+03,86.751500,51.726500,180.204000,724.403000,6.666420e+02,3.519000,9.756000,16.666500,133.685000,402.747000,9.226805e+02
75%,5.739360e+03,343.300250,138.979500,1445.297000,3349.706000,3.717990e+03,45.385000,80.551000,118.655500,677.100000,1698.609500,4.090176e+03
max,3.954687e+06,288606.000000,20183.000000,338564.096000,634371.000000,3.668788e+06,47840.226000,49723.000000,52428.000000,152871.000000,516865.000000,2.901645e+06

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111120 entries, 0 to 111119
Data columns (total 21 columns):
 #   Column                                                      Non-Null Count   Dtype
---  ------                                                      --------------   -----
 0   GV_Key                                                      111120 non-null  object
 1   Date_cal                                                    111120 non-null  datetime64[ns]
 2   Ticker Symbol                                               111118 non-null  object
 3   Company Name                                                111120 non-null  object
 4   Quarter                                                     110958 non-null  object
 5   Fiscal Data Year and Quarter                                111100 non-null  object
 6   Final Date                                                  102010 non-null  datetime64[ns]
 7   Date_rep                                                    100020 non-null  datetime64[ns]
 8   Assets                                                      99925 non-null   float64
 9   Cash                                                        91448 non-null   float64
 10  Common Shares Used to Calculate Earnings Per Share - Basic  101888 non-null  float64
 11  Long-Term Debt                                              99105 non-null   float64
 12  Invested Capital                                            99708 non-null   float64
 13  Liabilities                                                 99878 non-null   float64
 14  Net Income                                                  100200 non-null  float64
 15  EBIT                                                        99053 non-null   float64
 16  EBITDA                                                      92368 non-null   float64
 17  Revenue                                                     91745 non-null   float64
 18  Stockholders Equity                                         99883 non-null   float64
 19  Market Value                                                91864 non-null   float64
 20  HQ                                                          111120 non-null  object
dtypes: datetime64[ns](3), float64(12), object(6)
memory usage: 17.8+ MB

In [9]:
indices_to_drop = raw_data[(raw_data.Quarter == '2016Q4') | (raw_data.Quarter.isna()) | (raw_data.loc[:,"Date_rep"].isna())].GV_Key
raw_data = raw_data.set_index('GV_Key')

In [10]:
#drop quarters before 2017
raw_data = raw_data.drop(indices_to_drop, axis = 0)

In [11]:
raw_data = raw_data.reset_index()

In [12]:
#check total number of companies
len(raw_data.GV_Key.unique().tolist())

4868

In [13]:
#NA removal: if more than 10% of a company's revenues are missing (across all 24 quarters), then the whole company is removed
raw_data['is_na'] = np.where(
    (raw_data.Revenue.isna() | raw_data.Revenue == 0 |
     raw_data.EBITDA.isna() | 
     raw_data.EBIT.isna() | 
     raw_data.Cash.isna() | 
     raw_data.loc[:,"Net Income"].isna() |
     raw_data.loc[:,"Long-Term Debt"].isna()), 
     1, 0)

In [14]:
threshold_per = 0.9
threshold = len(raw_data.Quarter.unique()) * (1- threshold_per)
GV_na = []
group = raw_data.groupby(['GV_Key'])['is_na'].sum()
for indx, values in group.apply(lambda x: x > threshold).items():
    if values == True:
        GV_na.append(indx)
#group.apply(lambda x: x > 0)
#raw_data[raw_data.Revenue.isna()]

In [15]:
#number of companies to be removed due to too many NAs
len(GV_na)

921

In [16]:
raw_data = raw_data.set_index('GV_Key')
raw_data = raw_data.drop(GV_na, axis = 0)

In [17]:
raw_data = raw_data.reset_index()

In [18]:
#check total number of companies
len(raw_data.GV_Key.unique().tolist())

3947

In [19]:
len(raw_data[raw_data.Revenue.isna()])

46

In [20]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71977 entries, 0 to 71976
Data columns (total 22 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   GV_Key                                                      71977 non-null  object
 1   Date_cal                                                    71977 non-null  datetime64[ns]
 2   Ticker Symbol                                               71975 non-null  object
 3   Company Name                                                71977 non-null  object
 4   Quarter                                                     71977 non-null  object
 5   Fiscal Data Year and Quarter                                71971 non-null  object
 6   Final Date                                                  71967 non-null  datetime64[ns]
 7   Date_rep                                                    71977 non-null  datetime64[ns]
 8   Assets                                                      71973 non-null  float64
 9   Cash                                                        71974 non-null  float64
 10  Common Shares Used to Calculate Earnings Per Share - Basic  71912 non-null  float64
 11  Long-Term Debt                                              71922 non-null  float64
 12  Invested Capital                                            71971 non-null  float64
 13  Liabilities                                                 71973 non-null  float64
 14  Net Income                                                  71941 non-null  float64
 15  EBIT                                                        71868 non-null  float64
 16  EBITDA                                                      71819 non-null  float64
 17  Revenue                                                     71931 non-null  float64
 18  Stockholders Equity                                         71973 non-null  float64
 19  Market Value                                                68253 non-null  float64
 20  HQ                                                          71977 non-null  object
 21  is_na                                                       71977 non-null  int32
dtypes: datetime64[ns](3), float64(12), int32(1), object(6)
memory usage: 11.8+ MB

In [21]:
raw_data.columns

Index(['GV_Key', 'Date_cal', 'Ticker Symbol', 'Company Name', 'Quarter',
       'Fiscal Data Year and Quarter', 'Final Date', 'Date_rep', 'Assets',
       'Cash', 'Common Shares Used to Calculate Earnings Per Share - Basic',
       'Long-Term Debt', 'Invested Capital', 'Liabilities', 'Net Income',
       'EBIT', 'EBITDA', 'Revenue', 'Stockholders Equity', 'Market Value',
       'HQ', 'is_na'],
      dtype='object')

In [22]:
#think about filling na values with mean of adjacent values of the corresponding column
cols_to_interpolate = ['Assets',
       'Cash', 'Common Shares Used to Calculate Earnings Per Share - Basic',
       'Long-Term Debt', 'Invested Capital', 'Liabilities', 'Net Income',
       'EBIT', 'EBITDA', 'Revenue', 'Stockholders Equity']
raw_data[cols_to_interpolate] = raw_data[cols_to_interpolate].interpolate(method = 'linear')

In [23]:
raw_data['is_na'] = np.where(
    (raw_data.Revenue.isna() | 
     raw_data.EBITDA.isna() | 
     raw_data.EBIT.isna() | 
     raw_data.Cash.isna() | 
     raw_data.loc[:,"Net Income"].isna() |
     raw_data.loc[:,"Long-Term Debt"].isna()), 
     1, 0)

In [24]:
raw_data = raw_data.reset_index()

In [25]:
indx_to_drop = raw_data[raw_data.is_na == 1].GV_Key
raw_data = raw_data.set_index('GV_Key')
raw_data = raw_data.drop(indx_to_drop, axis = 0)
raw_data = raw_data.reset_index()

In [26]:
len(raw_data[raw_data.Revenue.isna()])

0

In [27]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71953 entries, 0 to 71952
Data columns (total 23 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   GV_Key                                                      71953 non-null  object
 1   index                                                       71953 non-null  int64
 2   Date_cal                                                    71953 non-null  datetime64[ns]
 3   Ticker Symbol                                               71951 non-null  object
 4   Company Name                                                71953 non-null  object
 5   Quarter                                                     71953 non-null  object
 6   Fiscal Data Year and Quarter                                71947 non-null  object
 7   Final Date                                                  71943 non-null  datetime64[ns]
 8   Date_rep                                                    71953 non-null  datetime64[ns]
 9   Assets                                                      71953 non-null  float64
 10  Cash                                                        71953 non-null  float64
 11  Common Shares Used to Calculate Earnings Per Share - Basic  71953 non-null  float64
 12  Long-Term Debt                                              71953 non-null  float64
 13  Invested Capital                                            71953 non-null  float64
 14  Liabilities                                                 71953 non-null  float64
 15  Net Income                                                  71953 non-null  float64
 16  EBIT                                                        71953 non-null  float64
 17  EBITDA                                                      71953 non-null  float64
 18  Revenue                                                     71953 non-null  float64
 19  Stockholders Equity                                         71953 non-null  float64
 20  Market Value                                                68229 non-null  float64
 21  HQ                                                          71953 non-null  object
 22  is_na                                                       71953 non-null  int32
dtypes: datetime64[ns](3), float64(12), int32(1), int64(1), object(6)
memory usage: 12.4+ MB

In [28]:
raw_data.columns

Index(['GV_Key', 'index', 'Date_cal', 'Ticker Symbol', 'Company Name',
       'Quarter', 'Fiscal Data Year and Quarter', 'Final Date', 'Date_rep',
       'Assets', 'Cash',
       'Common Shares Used to Calculate Earnings Per Share - Basic',
       'Long-Term Debt', 'Invested Capital', 'Liabilities', 'Net Income',
       'EBIT', 'EBITDA', 'Revenue', 'Stockholders Equity', 'Market Value',
       'HQ', 'is_na'],
      dtype='object')

In [29]:
#preparing data such that missing variables can be retrieved from CIQ
raw_data.GV_Key_ = raw_data.GV_Key
raw_data.GV_Key = raw_data.GV_Key_.str[0:2] + "_" + raw_data.GV_Key_.str[-6:]
#raw_data.drop("GV_Key_", axis = 1, inplace = True)
#columns needed: Share Price, Market Cap, Industry Classification (Primary Industry), 5-yr Beta

C:\Users\Dani\AppData\Local\Temp\ipykernel_60856\3452779066.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  raw_data.GV_Key_ = raw_data.GV_Key

In [30]:
raw_data.to_clipboard()

In [122]:
data = raw_data
output_name = "\CCM_D_I_cleaned.xlsx"
data.to_excel(fr"C:\Users\Dani\Dropbox\Mein PC (dimotion-PC)\Documents\BA_data{output_name}")